<aside class="col-sm-3 ml-sm-auto blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>About</h4>
    <p>I will eventually put things about my blogs here.</p>
  </div>

  <div class="sidebar-module">
    <h4>Elsewhere</h4>
    <ol class="list-unstyled social-links">
      <li><a href="https://github.com/jonesbr"><%= fa_icon "github" %></a></li>
      <li><a href="https://www.facebook.com/brody.jones.96"><%= fa_icon "facebook" %></a></li>
      <li><a href="https://twitter.com/BrodyJones96"><%= fa_icon "twitter" %></a></li>
      <li><a href="https://www.instagram.com/96BrodyJones/"><%= fa_icon "instagram" %></a></li>
    </ol>
  </div>
</aside>