<h1>About Me</h1>

<hr>
<div class="row">
	<div class="col-md-4">

		<%= image_tag "http://www.clker.com/cliparts/A/Y/O/m/o/N/placeholder-hi.png", width: 300, alt: "Profile Image" %>
		
	</div>

	<div class="col-md-8">

		<p>I have some background experience with coding from my short time in highschool, and thats what pushed me to wanting to make a career out of it. I had a lot of fun in those three years taking the few classes my school provided, and seeked to learn more. So now I'm currently learning about web development through Botega.</p>

		<hr>

		<p>I'm extremely team oriented, as well as have some leadership experience through my current position at Associated Foods. I like to stay on top of my assigned work, and am capable of staying on task and getting it all done within a specific timeframe. </p>

	</div>

</div>
